<!DOCTYPE html>
<html>
	<head>

		<title>To-Do App</title>
		<link type="text/css" rel="stylesheet" href="../static/bootstrap.css"/>
		<link type="text/css" rel="stylesheet" href="../static/akiff.css"/>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="../static/bootstrap.js"></script>

	</head>

	<body>

		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="{{ url_for('index') }}">TD</a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li><a href="{{ url_for('today') }}">Today</a></li> 
						<li><a href="{{ url_for('waiting')}}">Waiting</a></li> 
						<li><a href="{{ url_for('completed_entries') }}">Completed</a></li>						
						
						<form method="POST" action="" class="navbar-form navbar-left">
							<div class="form-group">
								{{ form.hidden_tag() }}
								<!-- <input type="text" class="form-control" id="name" entry="entry" placeholder="Add To-Do"> -->
								{{ form.entry(class_="form-control", type="text", placeholder="Add a new task") }}
								<!-- {% for field in form %}
								{{ render_field(field) }}
								{% endfor %} -->
							</div>
							<button type="submit" class="btn btn-default" id="submit">Add To-Do</button>
						</form>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Workspaces<span class="caret"></span></a>
							<ul class="dropdown-menu">
								{% for workspace in ws %}
									<li><a href="{{ url_for('inbox', workspace=workspace.workspace) }}">
										{{workspace.workspace}}
									</a></li>
								{% endfor %}
							</ul>
						</li>
					</ul>
				</div><!-- /.navbar-collapse -->
			</div><!-- /.container-fluid -->
		</nav>

		<div>
			{% block content %}{% endblock %}
		</div>

	</body>

</html>