{% extends "layouts.html" %}
{% from 'macros.html' import render_field %}

{% block content %}

	<div class="jumbotron">
		<div class="container">
			<h1>{{ workspace }}: Waiting</h1>
			<p>Everything that is waiting on input from others.</p>
		</div>
	</div>

	{% for entry in view_entries %}
		<div class="container">
	        <div class="row">
				<div class="col-xs-8 col-md-7" id="colorrow">{{entry.entry}}</div>
				
				<div class="col-xs-2 col-md-1" id="colorrow">
					<form method="GET" action="{{ url_for('update_entry', entry_id=entry.id) }}">
						{{ form.hidden_tag() }}
						<input type="hidden" value = "{{ entry.entry }}"></input>
						<button type="submit" class="btn btn-default btn-block" id="submit">Update</button> 
					</form>
				</div>	

				<div class="col-xs-2 col-md-1" id="colorrow">
					<form method="POST" action="{{ url_for('inbox_entry', entry_id=entry.id) }}">
						{{ form.hidden_tag() }}
						<input type="hidden" value = "{{ entry.entry }}"></input>
						<button type="submit" class="btn btn-default btn-block" id="submit">Inbox</button> 
					</form>
				</div>

				<div class="col-xs-2 col-md-1" id="colorrow">
					<form method="POST" action="{{ url_for('today_entry', entry_id=entry.id) }}">
						{{ form.hidden_tag() }}
						<input type="hidden" value = "{{ entry.entry }}"></input>
						<button type="submit" class="btn btn-default btn-block" id="submit">Today</button> 
					</form>
				</div>
				
				<div class="col-xs-2 col-md-1" id="colorrow">
					<form method="POST" action="{{ url_for('done_entry', entry_id=entry.id) }}">
						<input type="hidden" value = "{{ entry.entry }}"></input>
						<button type="submit" class="btn btn-default btn-block" id="submit">Done</button> 
					</form>
				</div>

				<div class="col-xs-2 col-md-1" id="colorrow">
					<form method="POST" action="{{ url_for('delete_entry', entry_id=entry.id) }}">
						<input type="hidden" value = "{{ entry.entry }}"></input>
						<button type="submit" class="btn btn-default btn-block" id="submit">Delete</button> 
					</form>
				</div>

			</div>
		</div>			
	{% endfor %}

	
{% endblock %}

